fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
email-validator
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
bcrypt==4.0.1
authlib>=1.3.0
httpx>=0.27.0
itsdangerous
pytest
pytest-asyncio
